pretrain/contentvec/checkpoint_best_legacy_500.pt
pretrain/fish/firefly-gan-base-generator.ckpt
pretrain/nsf_hifigan/config.json
pretrain/nsf_hifigan/model
pretrain/rmvpe/model.pt
data/*
__pycache__
exp/*

*.pt
*.wav